{% include directory ~ '/templates/parts/header.html.twig' %}

<div class="{{ project.class }}">
	{% if page.highlighted %}
		<section class="container">
			{{ page.highlighted }}
		</section>
	{% endif %}

	{% if page.help %}
		<section class="container">
			{{ page.help }}
		</section>
	{% endif %}

	<section>
		<main>
			{{ page.breadcrumb }}

			<div>
				{{ page.top_content }}

				{{ page.content }}
			</div>
		</main>

		{% if page.sidebar_first %}
			<aside>
				{{ page.sidebar_first }}
			</aside>
		{% endif %}
	</section>
</div>

{% include directory ~ '/templates/parts/footer.html.twig' %}
