<html>
	<head>
		<style type="text/css">
			html, body {
				margin: 0;
				padding: 0;
				font-family: Arial;
				color: #232552;
			}

			a {
				color: #822c48;
			}
		</style>
	</head>

	<body>
		<table width="100%" align="center" cellspacing="0" cellpadding="0"
			   style="background-color: #eaeaea; box-shadow:0 5px 65px 5px rgba(0, 0, 0, 0.15); padding: 20px;">
			<tr>
				<td>
					<table width="800" style="width:700px; background-color: #fff; padding: 20px;" align="center"
						   cellspacing="0" cellpadding="0">
						<tr>
							<td style="background-color: #fff; padding: 20px; border-bottom: 1px solid #ccc;">
								<table width="800" style="width:700px;" align="center" cellspacing="0" cellpadding="0"
									   class="header">
									<tr>
										<td align="left" width="800" style="text-align: center;">
											<a href="{{ base_url }}" title="Accueil" rel="home">
												<img src="{{ base_url }}/themes/project/logo.svg" alt="Accueil"
													 style="margin: 10px 0;border:none;">
											</a>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td>
								<table width="800" style="width:700px;" align="center" cellspacing="0" cellpadding="20"
									   class="header">
									<tr>
										<td width="800">
											{{ body }}
										</td>
									</tr>
								</table>

							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>
