<header>
	<div class="container">
		<a href="/" title="Cliquez ici pour retourner à l'accueil">
			<img src="{{ site_logo }}" alt="{{ site_name }}">
		</a>

		<div>
			{{ page.top_header }}

			{{ page.header }}

			{{ page.primary_menu }}

			{{ page.secondary_menu }}
		</div>
	</div>
</header>
