<div class="loader flex-column justify-content-center align-items-center">
    <div class="img-loader img-loader justify-content-center align-items-center" data-img="{{ data.logo }}">
        <img src="{{ data.logo }}" alt="{{ data.name }}">
    </div>
</div>