<div id="loader" class="flex-column justify-content-center align-items-center">
    <img src="{{ data.logo }}" alt="{{ data.name }}">
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="41" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>