<div class="loader">
    <img src="{{ data.logo }}" alt="{{ data.name }}">
    <div class="loadAnim">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>