<table>
    <thead>
        <tr>
        {% for cell in header %}
            <th>{{ cell }}</th>
        {% endfor %}
        </tr>
    </thead>

    <tbody>
    {% if rows %}
        {% for key, row in rows %}
            <tr>
                <td>{{ row.label }}</td>
                <td>{{ key }}</td>
                <td>{{ row.type }}</td>
                <td>
                    {% if row.required == '1' %}
                        Oui
                    {% else %}
                        Non
                    {% endif %}
                </td>
                <td>
                    {% if row.multiple == '1' %}
                        Non
                    {% else %}
                        Oui ({% if row.multiple == '-1' %}illimité{% else %}{{ row.multiple }}{% endif %})
                    {% endif %}
                </td>
                <td>{{ row.limites }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="6">{{ empty }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>