#block--local-tasks-block {
    position: relative;
    background-color: #333;
    color: #fff;
    margin: 0 auto;
}
#block--local-tasks-block ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#block--local-tasks-block ul li {
    padding: 0;
    margin: 0;
    display: inline-block;
}

#block--local-tasks-block a {
    color: #fff;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}
#block--local-tasks-block a:hover {
    background: #095a5b;
    color: #fff;
}

body.toolbar-horizontal header{
    top: 111px;
}
body.toolbar-horizontal header.fixed{
    top: 79px;
}
