body{
    color : #333;
}

.region { border: 2px solid green; }
.block { border: 1px solid red; }
.block.block--field-block { border: 1px solid orange; }

header { border: 3px solid #000; }
main { border: 3px solid #000; }
footer { border: 3px solid #000; }