<figure{{ attributes }}>
	{% if content.url is not empty %}
		<a href="{{ content.url }}"{{ (content.target is not empty) ? 'target="_blank"' : '' }}>
	{% endif %}
			<img src="{{ content.image }}" class="figure-img img-fluid" alt="{{ content.title }}">
	{% if content.url is not empty %}
		</a>
	{% endif %}
</figure>
