<div{{ attributes }} id="{{ content.accordions_id }}">
  <div class="accordion" id="accordionPanelsStayOpenExample">
    {% for accordion in content.accordion %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-heading{{ accordion.id }}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{ accordion.id }}" aria-expanded="false" aria-controls="panelsStayOpen-collapse{{ accordion.id }}">
          {{ accordion.title }}
        </button>
      </h2>
      <div id="panelsStayOpen-collapse{{ accordion.id }}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading{{ accordion.id }}">
        <div class="accordion-body">
          {{ accordion.content }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
