<div{{ attributes }}>
  <div class="accordion" id="accordionPanelsStayOpenExample">
    {% if content.categories | length > 1 %}
      {% for key, category in content.categories %}
        <div class="accordion-item">
          <h3 class="accordion-header" id="panelsStayOpen-heading{{ key }}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapse{{ key }}" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapse{{ key }}">
              {{ category.title }}
            </button>
          </h3>
          <div id="panelsStayOpen-collapse{{ key }}" class="accordion-collapse collapse"
               aria-labelledby="panelsStayOpen-heading{{ key }}">
            <div class="accordion-body">
              {% if category.formations is not empty %}
                {% for formation in category.formations %}
                  {{ formation }}
                {% endfor %}
                {% else %}
                  Aucune offre de formation n'est disponible pour le moment.
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      {% if category.formations is not empty %}
        {% for key, formation in category.formations %}
          <div id="panelsStayOpen-collapse{{ key }}" class="accordion-collapse collapse show"
               aria-labelledby="panelsStayOpen-heading{{ key }}">
            <div class="accordion-body">
              {{ formation }}
            </div>
          </div>
        {% endfor %}
      {% endif %}
    {% endif %}
  </div>
</div>
