{%
  set embed_class = [
    'embed-responsive',
    'embed-responsive-' ~ settings.content.aspect_ratio
  ]
%}
<div{{ attributes.addClass(embed_class) }}>
  <div class="youtube_player" videoID="{{ content.embed_url }}" theme="light" rel="1" controls="0" showinfo="0" autoplay="0" mute="1" loop="1" loading="1"></div>
</div>
