<div class="progress-circle {{ content.pourcentage | raw > 50 ? "over50" : ''  }} p{{ content.pourcentage | raw }}">
  <span>{{ content.pourcentage | raw }}%</span>

  <div class="left-half-clipper">
    <div class="first50-bar"></div>
    <div class="value-bar"></div>
  </div>
</div>
<b>{{ content.texte | raw }}</b>
