<div{{ attributes }} {% if settings.indicators == 1 %}style="padding-bottom: 100px"{% endif %}data-slick='{ "slidesToShow": {{ settings.number }}, "speed": 1000, "dots": {% if settings.indicators == 1 %}true{% else %}false{% endif %}, "arrows": {% if settings.controls == 1 %}true{% else %}false{% endif %}, "autoplay": true, "autoplaySpeed": {{ settings.interval }} }'>
  {% for slide in content.sliders %}
    <div>
        <img src="{{ slide.image }}" alt="{{ slide.title }}">
    </div>
  {% endfor %}
</div>
