<div class="modal fade" tabindex="-1" role="dialog" id="modal-size">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{% trans %}Accessibility{% endtrans %}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="{% trans %}Close{% endtrans %}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    {% trans %}In order to be accessible to as many people as possible, we inform you that you have the possibility to modify the display size of the content of our site.{% endtrans %}<br>
                    {% trans %}For this, here are the commands to reproduce using your keyboard:{% endtrans %}
                </p>
                <div>
                    <p>
                        {% trans %}Zoom in{% endtrans %} : <span class="keyboard-touch">CTRL</span> + <span class="keyboard-touch">+</span>
                    </p>
                    <p>
                        {% trans %}Zoom out{% endtrans %} : <span class="keyboard-touch">CTRL</span> + <span class="keyboard-touch">-</span>
                    </p>
                    <p>
                        {% trans %}Reset{% endtrans %} : <span class="keyboard-touch">CTRL</span> + <span class="keyboard-touch">0</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>