<div>
    {% if data.print.active == '1' %}
        <a href="#" onclick="window.print()" class="share-btn" id="sharePrint">
            <i class="fas fa-print"></i>
        </a>
    {% endif %}

    {% if data.email.active == '1' %}
        <a href="mailto:?subject={{ data.email.sujet }}&body={{ data.email.message }}" class="share-btn" id="shareEmail">
            <i class="fas fa-envelope"></i>
        </a>
    {% endif %}

    {% if data.facebook.active == '1' %}
        <a href="#" class="share-btn" id="shareFacebook">
            <i class="fab fa-facebook-f"></i>
        </a>
    {% endif %}

    {% if data.twitter.active == '1' %}
        <a href="#" class="share-btn" id="shareTwitter">
            <i class="fab fa-twitter"></i>
        </a>
    {% endif %}

    {% if data.linkedin.active == '1' %}
        <a href="#" class="share-btn" id="shareLinkedin">
            <i class="fab fa-linkedin-in"></i>
        </a>
    {% endif %}

    {% if data.pinterest.active == '1' %}
        <a href="#" class="share-btn" id="sharePinterest">
            <i class="fab fa-pinterest"></i>
        </a>
    {% endif %}

    {% if data.rss.active == '1' %}
        <a href="{{ data.rss.url }}" target="_blank" class="share-btn" id="shareRss">
            <i class="fas fa-rss"></i>
        </a>
    {% endif %}
</div>
