.zero-gutter{
  padding: 0 !important;
  margin: 0 !important;
}
.icon-wrap .fa {
  font-size: 32px;
}
.btn-icon {
  padding: 15px 15px 15px 60px !important;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  text-align: left !important;
}
.btn-icon .fa {
  position: absolute;
  font-size: 36px;
  width: 60px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.btn-icon span {
  display: block;
  font-size: 10px;
  font-weight: normal;
}

/* Style the list */
.plan-single {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: left
}

/* Add shadows on hover */
.plan-single:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Pricing header */
.plan-single .pricing-header {
  background-color: #111;
  color: white;
  padding: 10px 25px;
}
.plan-single .pricing-header h4{
  font-size: 25px;
  margin: 0;
}

/* List items */
.pricing-content ul {
    margin: 0;
}
.pricing-content li {
  border-bottom: 1px solid #eee;
  padding: 10px 25px;
  text-align: left;
}
.pricing-content li span {
  float: right;
}

/* Grey list item */
.plan-single .price, 
.plan-single .pricing-footer {
  background-color: #eee;
  font-size: 20px;
  padding: 10px 25px;
}

/* Profile card */
.profile-card {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 1px solid #eee;
}
.profile-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.profile-content {
    padding: 15px;
}
.profile-social-links {
    margin: 0;
}
.profile-social-links li {
    display: inline-block;
    margin-right: 15px;
}
.profile-social-links li a {
    padding: 10px;
}
