/* RESET BOOTSTRAP */
.breadcrumb {
  background-color: transparent;
}

.nce-canvas {
  border: 1px solid #ccc;
  padding: 10px;
}
.canvas-footer {
  padding: 15px;
  text-align: center
}
.canvas-footer .btn-circle{
  margin: 0 5px
}
.btn-circle{
  border-radius: 50% !important;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 26px
}
.panel.panel-default{
  padding: 0;
  margin-bottom: 0 !important;
}
.component{
  margin-bottom: 15px !important;
}
.component:last-child{
  margin-bottom: 0 !important;
}
.panel>.panel-heading{
  line-height: 22px;
  padding: 5px 15px;
}
.panel-title{
  font-size: 12px
}
.panel-body {
  padding: 5px;
}
.panel-footer{
  padding: 5px 15px;
}
.panel-heading .btn {
  border-radius: 0;
}
a.tabledrag-handle .handle {
  background-position: center;
  height: 15px;
  margin: 0em 0.5em 0;
  padding: 0.5em 0.5em;
  width: 15px;
}
.iconpicker-popover.popover.inline {
  border: 1px solid #b7b7b7;
  width: 505px;
}
.iconpicker .iconpicker-item.iconpicker-selected{
  background: #333;
}
.map-canvas {
  height: 300px;
  width: 100%;
}
#map-markers > details{
  margin: 0
}
.map-actions {
  margin: 18px 10px;
}
.btn-map {
  padding: 8px;
  font-size: 12px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
  color: #333;
  background: #fff;
  text-decoration: none;
}
.btn-map:hover{
  text-decoration: none;
}
.canvas-body .popover{
  max-width: 480px;
  width: 480px;
}
.canvas-footer .popover{
  max-width: 300px;
  width: 300px;
}
.canvas-body .popover .popover-body{
  max-height: 360px;
  overflow-y: auto
}
.add-component .icon {
  font-size: 24px;
  display: block;
  margin-bottom: 10px;
  color: #aaaaaa;
}
.add-component {
  width: 33.333333%;
  height: 90px;
  color: #333;
  border-color: #4a148c !important;
  border-radius: 0 !important;
  display: inline-block
}
.add-component .label{
  color: #333
}
.canvas-footer .add-component{
  width: 50%
}
.popover{
  border-color: #4a148c;
  padding: 0
}
.popover-header{
  background: #4a148c;
  color: #fff;
  border-color: #4a148c;
  margin: 0;
}
.popover.bottom>.arrow:after{
  border-bottom-color: #4a148c !important;
}
.popover.top>.arrow:after{
  border-top-color: #4a148c !important;
}
.popover-body{
  padding: 0
}
.bs-popover-auto[x-placement^=top] .arrow::after,
.bs-popover-top .arrow::after {
  bottom: 1px;
  border-top-color: #4a148c;
}

@media screen and (min-width: 780px),
(orientation: landscape) and (min-device-height: 780px) {
  .layout-region-node-main, .layout-region-node-footer{
    width: 75%
  }
  .layout-region-node-secondary{
    width: 25%
  }
}
form#entity-browser-files-form {
    padding-bottom: 140px;
}
.entity-browser-use-selected, 
.entity-browser-show-selection {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 2;
    margin: 0;
}
.entity-browser-use-selected {
    bottom: 50px;
}
.quickedit-form-container {
    z-index: 1031
}

.form-textarea-wrapper textarea[data-editor-active-text-format=nc_editor]{
  display: none;
}

.panel.panel-default .panel-heading{
  color: #fff;
  background-color: #434343;
  border-color: #333;
}
.nce-widget .panel.panel-default{
  background-color: #FFF;
}

/*CUSTOMISATION CANVAS*/
.nce-canvas .text-center{
  text-align: center;
}
.nce-canvas .text-left{
  text-align: left;
}
.nce-canvas .text-right{
  text-align: right;
}
