.loader{
    position:fixed;
    top:0;
    left:0;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flex;
    display:-o-flex;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-flow:column nowrap;
    width:100%;
    height:100vh;
    z-index:999999;
    background:#fff
}
.loader .loadAnim{
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flex;
    display:-o-flex;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:50px
}
.loader .loadAnim .dot{
    width:20px;
    height:20px;
    display:inline-block;
    background:#ccc;
    border-radius:50px;
    position:relative;
    top:0;
    animation:anim .5s infinite;
    margin:5px
}
.loader .loadAnim .dot:nth-child(2){
    animation-delay:.1s;
    background:#b5b5b5
}
.loader .loadAnim .dot:nth-child(3){
     animation-delay:.2s;
     background:#9e9e9e
}
@keyframes anim{
    0%,100%{
        top:0
    }
    50%{
        top:-20px
    }
}