#loader {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999999;
    background: #FFF;
    height: 100vh;
}

#loader .progress {
    width: 32%;
    margin-top: 25px;
    height: 3px;
}

#loader .progress .progress-bar {
    background: #0071ce;
}