.loader{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999999;
    background: #f2efed;
    height: 100vh;
}
.loader .img-loader{
    border-radius:50%;
    background: #fff no-repeat center center;
    background-size:auto;
    width:230px;
    height:230px;
    position:relative;
    z-index:999;
    display: flex;
}
.loader .img-loader::after{
    content:'';
    position:absolute;
    border:5px solid transparent;
    border-top-color:#0877C6;
    border-radius:50%;
    width:220px;
    height:220px;
    top:5px;
    left:5px;
    z-index:9995;
    animation:loader 1s infinite
}
@keyframes loader{
    0%{
        transform:rotate(0deg)
    }
    100%{
        transform:rotate(360deg)
    }
}