<div class="sitemap wysiwyg">
  <div class="row">
    <div class="col-12">
      {% if data is not empty %}
          {% for menu in data %}
              <div>
                  <h2>{{ menu.title }}</h2>

                  <ul>
                      {% for item in menu.items %}
                          <li>
                              <a href="{{ item.url }}" title='{% trans %}Click here to access "{{ item.title }}"{% endtrans %}"'>{{ item.title }}</a>

                              {% if item.children is not empty %}
                                  <ul>
                                      {% for level2 in item.children %}
                                          <li>
                                              <a href="{{ level2.url }}" title='{% trans %}Click here to access "{{ level2.title }}"{% endtrans %}'>{{ level2.title }}</a>

                                              {% if level2.children is not empty %}
                                                  <ul>
                                                      {% for level3 in level2.children %}
                                                          <li>
                                                              <a href="{{ level3.url }}" title='{% trans %}Click here to access "{{ level3.title }}"{% endtrans %}'>{{ level3.title }}</a>

                                                              {% if level3.children is not empty %}
                                                                  <ul>
                                                                      {% for level4 in level3.children %}
                                                                          <li>
                                                                              <a href="{{ level4.url }}"
                                                                                 title='{% trans %}Click here to access "{{ level4.title }}"{% endtrans %}'>{{ level4.title }}</a>

                                                                              {% if level4.children is not empty %}
                                                                                  <ul>
                                                                                      {% for level5 in level4.children %}
                                                                                          <li>
                                                                                              <a href="{{ level5.url }}"
                                                                                                 title='{% trans %}Click here to access "{{ level5.title }}"{% endtrans %}'>{{ level5.title }}</a>
                                                                                          </li>
                                                                                      {% endfor %}
                                                                                  </ul>
                                                                              {% endif %}
                                                                          </li>
                                                                      {% endfor %}
                                                                  </ul>
                                                              {% endif %}
                                                          </li>
                                                      {% endfor %}
                                                  </ul>
                                              {% endif %}
                                          </li>
                                      {% endfor %}
                                  </ul>
                              {% endif %}
                          </li>
                      {% endfor %}
                  </ul>
              </div>
          {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
