{% include directory ~ '/templates/parts/header.html.twig' %}

<div class="container">
  {{ page.breadcrumb }}
</div>

<section class="{{ nc_project.title.class }}">
  <div class="container">
    {{ page.top_content }}

    <div class="row">
      <div class="col-lg-12">

        <p>
          {{ page.content }}
        </p>

        <a href="/" title="Retour à l'accueil" class="btn btn-secondary"><i class="far fa-arrow-left"></i> Retour à l'accueil</a>
        <a href="{{ path('entity.node.canonical', {'node': 72}) }}" title="Plan du site" class="btn btn-primary"><i class="fas fa-sitemap"></i> Plan du site</a>
      </div>
    </div>

    {{ page.bottom_content }}
  </div>
</section>

{% include directory ~ '/templates/parts/footer.html.twig' %}
