{% include directory ~ '/templates/parts/header.html.twig' %}

<main class="page-wrapper home">
	{% if page.highlighted %}
		<section class="container">
			{{ page.highlighted }}
		</section>
	{% endif %}

	{% if page.help %}
		<section class="container">
			{{ page.help }}
		</section>
	{% endif %}

	<section>
		<div>
			{{ page.home }}
		</div>
	</section>
</main>

{% include directory ~ '/templates/parts/footer.html.twig' %}
