<div class="modal fade" tabindex="-1" role="dialog" id="modal-popin">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ data.title }}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="{% trans %}Close{% endtrans %}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ data.message | raw }}
            </div>
        </div>
    </div>
</div>