<ul>
    {% for link in data %}
        <li>
            <a href="{{ link.url }}" title="{{ link.title }}" {% if(link.target is not empty) %}target="{{ link.target }}"{% endif %}>{{ link.title }}</a>
        </li>
    {% endfor %}
</ul>