<h3>{{ title }}</h3>

{% for i,tweet in items %}
<div>
	<img src="{{ tweet.image_profile }}" alt="{{ tweet.username }}"> {{ tweet.username }}<br>
	<div>{{ tweet.text }}</div>
	<div>{% trans %}Since{% endtrans %} {{ tweet.time_ago }}</div>
	<div>
		<a href="{{ tweet.tweet_url }}" target="_blank" title="{% trans %}See more{% endtrans %}"><i class="fa fa-comment-o"></i></a>
		<i class="fa fa-retweet"></i> {{ tweet.retweeted }}
		<i class="fa fa-heart-o"></i> {{ tweet.favorite }}
	</div>
</div>
{% endfor %}